@use "sass:math";

// =============================================================================
// Calculate Rem by px
// =============================================================================

@function calculateRem($size) {
  $remSize: math.div($size, 16px);
  @return $remSize * 1rem;
}

// =============================================================================
// Font Size
// =============================================================================

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// =============================================================================
// Customize Box Shadow
// =============================================================================

@mixin boxShadow($str...) {
  box-shadow: #{$str} !important;
  -webkit-box-shadow: #{$str} !important;
  -moz-box-shadow: #{$str} !important;
}
