.fruit-app {
  .theme--light {
    &.v-btn {
      font-weight: 600;
      margin: 8px;
      &.v-btn--icon {
        color: $primaryDarken2;
      }
    } 
  }
  .v-tooltip__content {
    padding: calculateRem(4px);
    line-height: calculateRem(12px);
    font-size: calculateRem(12px);
    font-weight: 400;
    background: $secondaryBase;
  }
}


