.fruit-app {
  .credits {
    display: flex;
    justify-content: center;

    &__icon {
      margin-right: calculateRem(4px);
    }

    &__link {
      @include font-size(12px);
      border-bottom: calculateRem(0.25px) solid $secondaryLighten1;
      color: $secondaryLighten3;
      text-decoration: none;
      padding: calculateRem(4px) 0;
    }
  }
}